body {
	background-image:url("../images/leavesbanner.jpg");
}

header{
	width: 300px;
	height:100px;
	background-color: #8c0e0b;
	margin-left: 20px;
	margin-top: 10px;
}

#title{
	text-align: center;
	font-size: 30px;
	color: white;
	padding: 30px;
}

.instruction{

	width: 500px;
	height: 400px;
	background-color: #f5f5f5;
	padding:10px;
	margin-top: 10px;
	margin-left: 20px;

}

p{
	color: #0e2f44;
	padding:10px;
}

.container {

	width: 420px;
	height: 300px;
	margin-left: 20px;
}

#randomnumber{

	width: 100px;
	height: 60px;
	background-color: green;
	padding:20px;
	margin-top: 10px;
	margin-bottom: 10px;

}


.scoreboard{
	width: 100px;
	height: 60px;
	text-align: center;
	background-color: cyan;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: absolute;
	left: 175px;
	top: 540px;
}

.click{
	width:100px;
	height:100px;
}

.scoretag{

	width: 150px;
	height: 40px;
	background-color: blue;
	margin-bottom: 10px;


}

h3{
	color: white;
}

.addedup{
	width: 150px;
	height: 100px;
	color: white;
	background-color: blue;


}